{
    "extends": "airbnb/base",
    "rules": {
        "max-len": ["warn", 120],
        "object-shorthand": ["error", "methods"],
        "no-mixed-operators": [
            "warn",
            {
                "groups": [
                    ["&", "|", "^", "~", "<<", ">>", ">>>"],
                    ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                    ["&&", "||"],
                    ["in", "instanceof"]
                ],
                "allowSamePrecedence": true
            }
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    }
}
